classification_model/
venv/
dataset 2/
classification_model.preproc
sources/
.vscode/
config.props
de.unihd.dbs.heideltime.standalone.jar
heideltime_standalone/
input.txt
output.xml
/**/prolog-puzzle.pl
